h1 {
  font-family: Courier New, monospace;
  margin-left: 10%;
  margin-right: 10%;  
  text-align: center;
  color: black;
  font-size: xx-large;
}
body {
  font-family: Courier New, monospace;
  margin-left: 10%;
  margin-right: 10%;
}
p {
  color: black
  text-wrap: pretty;  
}
